<%- include('newsletter/header.ejs') %> 
    <div class="container_cs">
        <div class="main_cs">
            <form action="" method="post">
                <div class="submain_cs">
                    <div class="icon_cs"> 
                        <lord-icon
                            src="https://cdn.lordicon.com/iepbfivp.json"
                            trigger="loop"
                            colors="primary:#f4a09c,secondary:#9cf4a7,tertiary:#bcee66"
                            class="mailicon_cs">
                        </lord-icon>
                    </div>
                    <div class="w-md-50 list_cs">
                        <input class="listitem_CS listop_cs fs-lg-6 fs-5" type="text" name="fname" id="fname" placeholder="Fist Name" autocomplete="off">
                        <input class="listitem_CS fs-lg-6 fs-5" type="text" name="lname" id="lname" placeholder="Last Name" autocomplete="off">
                        <input class="listitem_CS listbot_cs fs-lg-6 fs-5" type="email" name="email" id="email" placeholder="Email" autocomplete="off">
                    </div>
                    <div class="button_cs mt-3 rounded">
                        <button class="btn btn-lg btn ls-wider button_cs" type="submit">Send</button>
                    </div>
                </div>
              
            </form>
        </div>
    </div>
    <%- include('newsletter/footer.ejs') %> 