@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.menulist_cs {
  width: 100vh;
  height: 100vh;
  z-index: 100;
}

.headertext_cs {
  color: rgb(99, 52, 137);
  font-family: 'Fredoka One', cursive;
}

/*! Start Wave */
.wave_cs {
  width: 100%;
  z-index: -10;
}

.path-0 {
  animation: pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes pathAnim-0 {
  0% {
    d: path("M 0,600 C 0,600 0,200 0,200 C 52.25482796892341,229.64676285608584 104.50965593784682,259.2935257121717 158,271 C 211.49034406215318,282.7064742878283 266.21620421753613,276.47266000739916 314,258 C 361.78379578246387,239.52733999260084 402.62552719200886,208.81583425823163 451,212 C 499.37447280799114,215.18416574176837 555.2816870144284,252.2640029596744 612,239 C 668.7183129855716,225.7359970403256 726.2477247502776,162.12815390307065 784,135 C 841.7522752497224,107.87184609692933 899.7274139844616,117.22338142804293 948,136 C 996.2725860155384,154.77661857195707 1034.8426193118755,182.9783203847577 1097,190 C 1159.1573806881245,197.0216796152423 1244.9021087680355,182.86333703292638 1306,181 C 1367.0978912319645,179.13666296707362 1403.5489456159821,189.5683314835368 1440,200 C 1440,200 1440,600 1440,600 Z");
  }

  25% {
    d: path("M 0,600 C 0,600 0,200 0,200 C 71.14623258108274,221.10583302503392 142.29246516216548,242.21166605006783 188,254 C 233.70753483783452,265.78833394993217 253.97637193242082,268.2591688247626 309,245 C 364.0236280675792,221.7408311752374 453.80204710815144,172.75165865088172 509,149 C 564.1979528918486,125.24834134911828 584.8154396349735,126.73419657171047 632,126 C 679.1845603650265,125.26580342828953 752.9361943519548,122.31155506227645 817,127 C 881.0638056480452,131.68844493772355 935.4397829572081,144.01958317918363 984,149 C 1032.560217042792,153.98041682081637 1075.3046738192131,151.610112220989 1118,146 C 1160.6953261807869,140.389887779011 1203.3415217659392,131.53996793686028 1257,140 C 1310.6584782340608,148.46003206313972 1375.3292391170303,174.23001603156985 1440,200 C 1440,200 1440,600 1440,600 Z");
  }

  50% {
    d: path("M 0,600 C 0,600 0,200 0,200 C 60.53752620545073,218.0511530398323 121.07505241090146,236.10230607966454 180,227 C 238.92494758909854,217.89769392033546 296.23731656184486,181.641928721174 345,159 C 393.76268343815514,136.358071278826 433.975681341719,127.32997903563941 479,152 C 524.024318658281,176.6700209643606 573.8599580712788,235.03815513626833 622,233 C 670.1400419287212,230.96184486373167 716.5844863731656,168.51740041928718 771,155 C 825.4155136268344,141.48259958071282 887.8020964360585,176.89224318658282 943,192 C 998.1979035639415,207.10775681341718 1046.2071278825997,201.91362683438155 1097,217 C 1147.7928721174003,232.08637316561845 1201.369392033543,267.45324947589097 1259,268 C 1316.630607966457,268.54675052410903 1378.3153039832287,234.27337526205451 1440,200 C 1440,200 1440,600 1440,600 Z");
  }

  75% {
    d: path("M 0,600 C 0,600 0,200 0,200 C 66.82111234430879,155.0276482920212 133.64222468861757,110.05529658404242 180,132 C 226.35777531138243,153.94470341595758 252.2522135898385,242.80646195585155 301,247 C 349.7477864101615,251.19353804414845 421.3489209520286,170.71885559255148 483,173 C 544.6510790479714,175.28114440744852 596.3521026020471,260.31811567394254 654,255 C 711.6478973979529,249.68188432605746 775.242668639783,154.00868171167838 824,132 C 872.757331360217,109.99131828832162 906.6772228388212,161.64715747934395 955,183 C 1003.3227771611788,204.35284252065605 1066.048440004933,195.40268837094587 1118,180 C 1169.951559995067,164.59731162905413 1211.1290171414475,142.7420890368726 1263,145 C 1314.8709828585525,147.2579109631274 1377.4354914292762,173.6289554815637 1440,200 C 1440,200 1440,600 1440,600 Z");
  }

  100% {
    d: path("M 0,600 C 0,600 0,200 0,200 C 52.25482796892341,229.64676285608584 104.50965593784682,259.2935257121717 158,271 C 211.49034406215318,282.7064742878283 266.21620421753613,276.47266000739916 314,258 C 361.78379578246387,239.52733999260084 402.62552719200886,208.81583425823163 451,212 C 499.37447280799114,215.18416574176837 555.2816870144284,252.2640029596744 612,239 C 668.7183129855716,225.7359970403256 726.2477247502776,162.12815390307065 784,135 C 841.7522752497224,107.87184609692933 899.7274139844616,117.22338142804293 948,136 C 996.2725860155384,154.77661857195707 1034.8426193118755,182.9783203847577 1097,190 C 1159.1573806881245,197.0216796152423 1244.9021087680355,182.86333703292638 1306,181 C 1367.0978912319645,179.13666296707362 1403.5489456159821,189.5683314835368 1440,200 C 1440,200 1440,600 1440,600 Z");
  }
}

.path-1 {
  animation: pathAnim-1 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes pathAnim-1 {
  0% {
    d: path("M 0,600 C 0,600 0,400 0,400 C 49.159748427672966,390.1327413984461 98.31949685534593,380.2654827968923 151,392 C 203.68050314465407,403.7345172031077 259.88176100628925,437.07081021087686 311,463 C 362.11823899371075,488.92918978912314 408.1534591194969,507.45127635960046 460,471 C 511.8465408805031,434.54872364039954 569.5044025157233,343.12408435072143 631,325 C 692.4955974842767,306.87591564927857 757.8289308176101,362.05238623751393 819,379 C 880.1710691823899,395.94761376248607 937.1798742138365,374.666370699223 989,359 C 1040.8201257861635,343.333629300777 1087.4515723270442,333.28213096559386 1135,351 C 1182.5484276729558,368.71786903440614 1231.0138364779873,414.20510543840174 1282,427 C 1332.9861635220127,439.79489456159826 1386.4930817610064,419.89744728079916 1440,400 C 1440,400 1440,600 1440,600 Z");
  }

  25% {
    d: path("M 0,600 C 0,600 0,400 0,400 C 56.79580712788258,432.87986188185965 113.59161425576517,465.7597237637193 173,453 C 232.40838574423483,440.2402762362807 294.4293501048218,381.84096682698237 339,372 C 383.5706498951782,362.15903317301763 410.6909853249476,400.8764089283512 452,401 C 493.3090146750524,401.1235910716488 548.8067085953878,362.65339745961273 619,338 C 689.1932914046122,313.34660254038727 774.0821802935012,302.51000123319767 827,341 C 879.9178197064988,379.48999876680233 900.8645702306078,467.3065976075965 942,469 C 983.1354297693922,470.6934023924035 1044.4595387840673,386.2636083364164 1100,354 C 1155.5404612159327,321.7363916635836 1205.2972746331236,341.63896904673817 1261,358 C 1316.7027253668764,374.36103095326183 1378.3513626834383,387.18051547663094 1440,400 C 1440,400 1440,600 1440,600 Z");
  }

  50% {
    d: path("M 0,600 C 0,600 0,400 0,400 C 65.5600937230238,404.9447774078185 131.1201874460476,409.889554815637 178,395 C 224.8798125539524,380.110445184363 253.0793439388334,345.38655814527067 300,353 C 346.9206560611666,360.61344185472933 412.56243679861893,410.5642126032803 475,411 C 537.4375632013811,411.4357873967197 596.6709088666913,362.35659144160815 655,368 C 713.3290911333087,373.64340855839185 770.7539277346158,434.00942163028725 822,461 C 873.2460722653842,487.99057836971275 918.3133801948453,481.6057220372426 963,454 C 1007.6866198051547,426.3942779627574 1051.992551486003,377.5676902207424 1110,369 C 1168.007448513997,360.4323097792576 1239.7164138611417,392.12351707978786 1297,404 C 1354.2835861388583,415.87648292021214 1397.1417930694292,407.93824146010604 1440,400 C 1440,400 1440,600 1440,600 Z");
  }

  75% {
    d: path("M 0,600 C 0,600 0,400 0,400 C 49.1618695276853,373.87924528301886 98.3237390553706,347.7584905660377 155,344 C 211.6762609446294,340.2415094339623 275.86691330620295,358.845283018868 333,368 C 390.13308669379705,377.154716981132 440.20860771981745,376.86037735849055 490,373 C 539.7913922801825,369.13962264150945 589.2986558145271,361.71320754716976 634,366 C 678.7013441854729,370.28679245283024 718.5967690220742,386.28679245283024 779,373 C 839.4032309779258,359.71320754716976 920.314268097176,317.1396226415094 977,334 C 1033.685731902824,350.8603773584906 1066.1461585892218,427.15471698113214 1111,458 C 1155.8538414107782,488.84528301886786 1213.1010975459367,474.2415094339622 1270,457 C 1326.8989024540633,439.7584905660378 1383.4494512270317,419.8792452830189 1440,400 C 1440,400 1440,600 1440,600 Z");
  }

  100% {
    d: path("M 0,600 C 0,600 0,400 0,400 C 49.159748427672966,390.1327413984461 98.31949685534593,380.2654827968923 151,392 C 203.68050314465407,403.7345172031077 259.88176100628925,437.07081021087686 311,463 C 362.11823899371075,488.92918978912314 408.1534591194969,507.45127635960046 460,471 C 511.8465408805031,434.54872364039954 569.5044025157233,343.12408435072143 631,325 C 692.4955974842767,306.87591564927857 757.8289308176101,362.05238623751393 819,379 C 880.1710691823899,395.94761376248607 937.1798742138365,374.666370699223 989,359 C 1040.8201257861635,343.333629300777 1087.4515723270442,333.28213096559386 1135,351 C 1182.5484276729558,368.71786903440614 1231.0138364779873,414.20510543840174 1282,427 C 1332.9861635220127,439.79489456159826 1386.4930817610064,419.89744728079916 1440,400 C 1440,400 1440,600 1440,600 Z");
  }
}

/*! End Wave */
